* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Consolas";
}

canvas {
  display: block;
  z-index: -1;
}

nav {
  display: flex;
  position: relative;
  height: var(--height);
  background-color: var(--panel);
  box-shadow: 0px 2px 6px 3px var(--ic);
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-btn {
  text-align: center;
  background-color: var(--ic);
  color: var(--outline);
  padding: 4px;
  /* padding-left: 20px; */
  width: 80px;
  height: 100%;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px var(--ic);
  z-index: 2;
}

.dropdown-content button {
  width: 100%;
  height: var(--height);
  background-color: var(--ic);
  color: var(--outline);
  border: none;
  cursor: pointer;
  text-align: left;
  padding-left: 20px;
}

.dropdown:hover .dropdown-btn,
.dropdown button:hover {
  background-color: var(--panel);
}

#hilfe_popup {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  margin-inline: auto;
  width: 300px;
  background-color: red;
  color: var(--outline);
  background-color: var(--panel);
  box-shadow: 0px 8px 16px 0px var(--ic);
}

#hilfe_popup header {
  background-color: var(--ic);
  padding: 10px 20px;
  text-align: center;
  font-size: 30px;
}

#hilfe_popup article {
  padding: 10px 20px;
}

#hilfe_popup hr {
  border: 2px solid var(--ic);
}

#hilfe_popup button {
  display: block;
  background-color: var(--ic);
  color: var(--outline);
  border: none;
  padding: 5px;
  margin: 5px auto;
}

#hilfe_popup button:hover {
  background-color: var(--panel);
}

#burgermenu {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: var(--ic);
  top: 35px;
  left: 10px;
  box-shadow: 0px 8px 16px 0px var(--ic);
}

#burgermenu:hover {
  background-color: var(--panel);
}

#burgermenu svg {
  transition: transform 0.3s ease;
  padding: 3px;
  width: 100%;
  height: 100%;
}

#burgermenu.rotated svg {
  transform: rotate(90deg);
}

#burgermenu-content {
  display: none;
  position: absolute;
  color: var(--outline);
  background-color: var(--ic);
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px var(--ic);
  z-index: 1;
  padding: 10px;
  left: 0px;
  top: 40px;
}

#burgermenu.rotated #burgermenu-content {
  display: block;
}

#burgermenu-content .rot {
  background-color: var(--cableRed);
}

#burgermenu-content .gruen {
  background-color: var(--cableGreen);
}

#burgermenu-content .gelb {
  background-color: var(--cableYellow);
}

#burgermenu-content .blau {
  background-color: var(--cableBlue);
}

#burgermenu-content .weiss {
  background-color: var(--cableWhite);
}

#burgermenu-content .braun {
  background-color: var(--cableBrown);
}

#burgermenu-content .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#burgermenu-content .auswahl {
  aspect-ratio: 1/1;
  width: 30%;
  margin: 2px 0;
  border: 0px solid var(--ic);
  transition: border 0.2s linear;
}

#burgermenu-content .auswahl:hover {
  border: 2px solid var(--ic);
}
#burgermenu-content .ausgewaehlt:hover {
  border: 4px solid var(--ic);
}

#burgermenu-content .ausgewaehlt {
  border: red 2px solid;
}

.ic {
  fill: var(--outline);
  fill-opacity: 1;
  stroke-width: 0.264583;
}
.plug {
  fill: var(--outline);
  fill-opacity: 1;
  stroke-width: 0.264583;
}
.outline {
  fill: none;
  stroke-width: 1;
  stroke: var(--outline);
}
