:root {
  --background: hsla(216, 57%, 35%, 1);
  --button: hsla(236, 50%, 34%, 1);
  --outline: hsla(0, 2%, 79%, 1);
  --ledRed: hsla(0, 64%, 60%, 1);
  --ledYellow: hsla(56, 64%, 60%, 1);
  --ledGreen: hsla(110, 64%, 60%, 1);
  --cableRed: hsla(0, 87%, 24%, 1);
  --cableYellow: hsla(59, 87%, 24%, 1);
  --cableGreen: hsla(115, 87%, 24%, 1);
  --cableBlue: hsla(241, 87%, 24%, 1);
  --cableWhite: rgb(217, 252, 254);
  --cableBrown: rgb(66, 51, 1);
  --pin: hsla(41, 96%, 19%, 1);
  --silver: hsla(0, 0%, 75%, 1);
  --ic: hsla(0, 7%, 14%, 1);
  --panel: hsla(0, 0%, 29%, 1);
  --activeSignal: hsla(0, 100%, 50%, 1);
  --deactiveSignal: hsla(236, 100%, 50%, 1);
  --height: 28px;
}
